<div class="contents row">
  <div class="container">
    <div class="show-top">
      <p><%= @nickname %>さんの予定一覧</p>
      <% @calendars.each do |calendar| %>
        <div class="show-time">
          <%= calendar.start_time.strftime("%Y-%m-%d %H:%M") %>
          <%= link_to calendar.title, calendar %>
        </div>
      <% end %>
      <%= link_to '戻る', calendars_path %>
    </div>
  </div>
</div>