<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @calendars.each do |calendar| %>
    <div class="content_post">
      <p><%= calendar.title %></p>
      <span class="name"><%= calendar.title %></span>
    </div>
  <% end %>
</div>