<%= link_to '予定を入れる', new_calendar_path %>
<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date.day %>

  <% calendars.each do |calendar| %>
    <div>
      <%= link_to calendar.title, calendar %>
    </div>
  <% end %>
<% end %>